<!DOCTYPE html>
<html lang="en" class="h-full bg-white">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>ottomap</title>

    <link rel="stylesheet" href="/css/tailwind.css">
    <script src="/js/htmx-1.9.12.min.js"></script>
    <script src="/js/alpinejs-3.14.0.min.js" defer></script>
</head>
<body class="h-full">
<!-- derived from https://tailwindui.com/components/marketing/sections/content-sections -->
<div class="bg-white px-6 py-32 lg:px-8">
    <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
        <p class="text-base font-semibold leading-7 text-indigo-600">Features</p>
        <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">OttoMap</h1>
        <p class="mt-6 text-xl leading-8">
            OttoMap run in different environments with no external requirements like databases or authentication services.
            It doesn't require complex configuration or installation steps.
        </p>
        <div class="mt-10 max-w-2xl">
            <ul role="list" class="mt-8 max-w-xl space-y-8 text-gray-600">
                <li class="flex gap-x-3">
                    <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                    <span><strong class="font-semibold text-gray-900">Reads your turn reports</strong>
                        <br>
                        Creating a map file is as easy as saving your turn reports as text files and running OttoMap.
                        OttoMap automatically processes all the reports in your folder.
                        <br>
                        OttoMap creates a map file for each report that includes the results from prior turns.
                    </span>
                </li>
                <li class="flex gap-x-3">
                    <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                    <span><strong class="font-semibold text-gray-900">Creates Worldographer map files</strong>
                        <br>
                        Worldographer is a great mapping application that runs on Windows, Mac, and Linux.
                    </span>
                </li>
                <li class="flex gap-x-3">
                    <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                    <span><strong class="font-semibold text-gray-900">Open Source</strong>
                        <br>
                        The source code for OttoMap is released under the
                        <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License</a>
                        and is available
                        <a href="https://github.com/mdhender/ottomap">GitHub</a>.
                    </span>
                </li>
                <li class="flex gap-x-3">
                    <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                    <span><strong class="font-semibold text-gray-900">Written in Go</strong>
                        <br>
                        OttoMap is written in Go, so it is easy to build and run in different environments.
                        It is a small executable with no external requirements like databases or authentication services.
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>